@import 'variables';

.goods_img {
    max-height: 400px;
    max-width: 400px;
}

.footer-show {
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

input[type="file"] {
    background-color: transparent;
    border: none;
    &:focus {
        box-shadow: none;
    }
}

.dropdown-toggle::after {
    display: none;
}

.header-profile {
    .input-user-name,
    .input-introduction,
    .row-site-url,
    .row-profile-edit {
        display: none;
    }
    .card {
        &:hover {
            .translucent {
                opacity: 0.4;
            }
        }
        .translucent {
            opacity: 0.6;
        }
        .card-img-overlay {
            display: none;
            .card-img-inner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
            }
        }
    }
    .btn-profile-setting {
        height: 34px;
    }
    .btn-save {
        height: 35px;
    }
    .input-img {
        display: none;
        height: 100%;
        width: 100%;
        opacity: 0;
        position: absolute;
    }
}